mat-card {
    padding: 0;
}

mat-card-header {
    padding: 7px;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

mat-card-content {
    padding: 5px 10px;
    margin-top: 15px;
}

mat-header-cell {
    font-size: 12px;
    font-weight: 500;
}

.mat-expansion-panel {
    margin-bottom: 20px;
}

.mat-icon {
    margin-right: 10px;
}

::ng-deep .label-wrapper {
    display: flex;
    justify-content: space-between;
}

::ng-deep .end-label {
    border: 2px solid #4782ff;
    width: 25px;
    border-radius: 10px;
    padding: 0 7px;
    margin-right: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
}

::ng-deep .start-label {
    font-weight: 500;
    font-size: 0.8rem;
}
  