.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
    border: none;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}


.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.mat-nav-list {
    width: 100%;
    a {
        .mat-icon {
            margin-right: 10px;
        }
        display: block;
    }
}

.content-wrapper {
    padding: 10px;
    height: 100vh;
}


.mat-list-base .mat-list-item {
    font-weight: 400;
    font-size: 0.8rem;
}

.mat-list-base {
    padding-top: 0px;
}

.active {
    background-color: rgb(207, 204, 204);
}


.logo-toolbar-link {
    text-decoration: none;
}

.lock-icon, .sidenav-icon {
    color: grey;
}

.action-btn {
    margin: 0 15px;
}
